
.aboutMe {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.service {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.skills {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.education {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.projects {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.assignments {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.goGithub {
    height: 20vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.contactMe {
    height: 100vh;
    background-color: #242424;
    position: relative;
}



.mainPage {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("../img/white-notebook-black-data-firewall.jpg");
    background-position: center center;
    background-color: #242424;
    position: relative;
    top: -10px;
}
.logo {
    position: absolute;
    left: 131px;
    margin-top: 12px;
    font-family: 'Arizonia', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #34AEEB;
}

.imgp1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 6px;
    right: 18px;
    bottom: 130px;

}
.imgMedia1, .imgMedia2, .imgMedia3, .imgMedia4, .imgMedia5 {
    width: 24px;
    height: 24px;
}

.followMe {
    font-size: 17px;
    color: #34AEEB;
    margin: auto;
    position: absolute;
    right: -46px;
    transform: rotate(90deg);
    top: 212px;
}

.followDiv {
    border: 1px solid #34AEEB;
    background-color: #34AEEB;
    width: 80px;
    transform: rotate(90deg);
    position: absolute;
    right: -14px;
    bottom: 363px;
}

.intro1 {
    margin-top: -34px;
}

.intro2 {
    font-size: 58px;
}

header {
    height: 70px;
}


header > nav {
    position: fixed;
    right: 40px;
    top: 0;
    z-index: 10;
}


header > nav > ul {
        margin-top: 10px;
    }

    /*set list inline*/
header > nav > menu > li {
    padding-left: 18px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
header>nav>menu>li>a{
    color: white;
}
header>nav>menu>li>a, u{
    text-decoration: none;
}

header>nav>menu>li>a:hover{
    color: #34AEEB;
    background-color: transparent;
}
header>nav>menu>li>a:active{
    color: red;
}

.intro1 {
    font-size: 24px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    top: 351px;
}

.intro2 {
    font-size: 64px;
    color: #34AEEB;
    margin: auto;
    text-align: center;
    position: relative;
    top: 366px;
}

.cmb {
    background: #34AEEB;
    width: 171px;
    height: 43px;
    border-radius: 34px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: -15px;
    right: 0;
    top: 450px;
    bottom: 0;
    margin: auto;
    border: none;
}

.cmb > a {
    color: white;
}

.cmb > a, u {
    text-decoration: none;
}
.cmb:hover{
    transform: translateY(5px);

}
.cmb:active{
    background-color: red;
}

.T1, .T2, .T3, .T4, .T5, .T6 {
    position: relative;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    color: rgba(102, 102, 102, 0.13);
    line-height: 80px;
    margin: auto;
    text-align: center;
    top: 33px;
}
.TT1, .TT2, .TT3, .TT4, .TT5, .TT6 {
    position: relative;
    font-size: 46px;
    font-style: normal;
    color: #FFFFFFFF;
    margin: auto;
    text-align: center;
    top: -34px;
}
.ST1, .ST2, .ST3, .ST4, .ST5, .ST6, .ST7 {
    font-size: 46px;
    color: #34AEEB;
    margin: auto;
    text-align: center;
}

.hello {
    color: white;
    position: absolute;
    right: 644px;
    top: 173px;
    margin: auto;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
}
.name{
    color: white;
    position: absolute;
    right: 370px;
    top: 203px;
    margin: auto;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
}
.sName{
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
    color: #34AEEB;
    margin: auto;
}
.aboutP{
    font-size: 16px;
    position: absolute;
    color: #ACACAC;
    margin: auto;
    top: 252px;
    right: 348px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.list1{
    position: absolute;
    right: 661px;
    bottom: 160px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
}
.list2{
    position: absolute;
    right: 340px;
    bottom: 160px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
}
.download{
    background: #34AEEB;
    width: 200px;
    height: 43px;
    border-radius: 34px;
    font-weight: 700;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: -287px;
    top: 0;
    bottom: -591px;
    margin: auto;
    border: none;
}
.download:hover{
    transform: translateY(5px);

}
.download:active{
    background-color: red;
}
.imgFrame{
    position: absolute;
    border: 8px solid blue;
    left: 140px;
    top: 176px;
    width: 356px;
    height: 463px;
}
.myImg{
    position: absolute;
    width: 320px;
    height: 428px;
    left: 19px;
    top: 18px;
}



.webDevelopment{
    position: absolute;
    margin: auto;
    width: 389px;
    height: 202px;
    background: #242424;
    top: 286px;
    left: 294px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    transition: all .5s;
}
.webDevelopment:hover {
    z-index: 10;
    transition: all .5s !important;
    transform: translateY(-10px);
}
.style1{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0px;
    top: 1px;
    border: 1px solid #FD2155;
    background-color: #FD2155;
}
.webT{
    color: #FD2155;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 42px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.img1, .img2, .img3 {
    position: absolute;
    left: 257px;
    top: 7px;
    width: 100px;
    height: 100px;
}
.UIUX{
    position: absolute;
    margin: auto;
    width: 389px;
    height: 202px;
    background: #242424;
    top: 286px;
    right: 294px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    transition: all .5s;
}
.UIUX:hover {
    z-index: 10;
    transition: all .5s !important;
    transform: translateY(-10px);
}
.style2{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0px;
    top: 1px;
    border: 1px solid #7ED4F2;
    background-color: #7ED4F2;
}
.uiT{
    color: #7ED4F2;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 42px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.mobileApp{
    position: absolute;
    margin: auto;
    width: 390px;
    height: 202px;
    background: #242424;
    top: 500px;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}
.mobileApp:hover {
    z-index: 10;
    transition: all .5s !important;
    transform: translateY(-10px);
}
.style3{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0px;
    top: 1px;
    border: 1px solid #0AF0CD;
    background-color: #0AF0CD;
}
.mobileT{
    color: #0AF0CD;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 15px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 10px;
    display: flex;
    align-items: center;
}







footer {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    border-top: 1px solid rgba(102, 102, 102, 0.29);
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}
.footerText{
    position: absolute;
    bottom: -25px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    text-align: center;
}