
.aboutMe {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.service {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.skills {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.education {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.projects {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.assignments {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.goGithub {
    height: 20vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}


.contactMe {
    height: 100vh;
    background-color: #242424;
    position: relative;
}



.mainPage {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("../img/white-notebook-black-data-firewall.jpg");
    background-position: center center;
    background-color: #242424;
    position: relative;
    top: 0;
}
.logo {
    position: absolute;
    left: 131px;
    margin-top: 12px;
    font-family: 'Arizonia', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #34AEEB;
}

.imgp1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 6px;
    right: 18px;
    bottom: 130px;

}
.imgMedia1, .imgMedia2, .imgMedia3, .imgMedia4, .imgMedia5 {
    width: 24px;
    height: 24px;
}

.followMe {
    font-size: 17px;
    color: #34AEEB;
    margin: auto;
    position: absolute;
    right: -46px;
    transform: rotate(90deg);
    top: 212px;
}

.followDiv {
    border: 1px solid #34AEEB;
    background-color: #34AEEB;
    width: 80px;
    transform: rotate(90deg);
    position: absolute;
    right: -14px;
    bottom: 363px;
}

.intro1 {
    margin-top: -34px;
}

.intro2 {
    font-size: 58px;
}

header {
    height: 70px;
}


header > nav {
    position: fixed;
    right: 40px;
    top: 0;
    z-index: 10;
}


header > nav > ul {
        margin-top: 10px;
    }

header > nav > menu > li {
    padding-left: 18px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
header>nav>menu>li>a{
    color: white;
}
header>nav>menu>li>a, u{
    text-decoration: none;
}

header>nav>menu>li>a:hover{
    color: #34AEEB;
    background-color: transparent;
}
header>nav>menu>li>a:active{
    color: red;
}

.intro1 {
    font-size: 24px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    top: 351px;
}

.intro2 {
    font-size: 64px;
    color: #34AEEB;
    margin: auto;
    text-align: center;
    position: relative;
    top: 366px;
}

.cmb {
    background: #34AEEB;
    width: 171px;
    height: 43px;
    border-radius: 34px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: -15px;
    right: 0;
    top: 450px;
    bottom: 0;
    margin: auto;
    border: none;
}

.cmb {
    color: white;
}

.cmb > a, u {
    text-decoration: none;
}
.cmb:hover{
    transform: translateY(5px);

}
.cmb:active{
    background-color: red;
}

.T1, .T2, .T3, .T4, .T5, .T6 {
    position: relative;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    color: rgba(102, 102, 102, 0.13);
    line-height: 80px;
    margin: auto;
    text-align: center;
    top: 33px;
}
.TT1, .TT2, .TT3, .TT4, .TT5, .TT6 {
    position: relative;
    font-size: 46px;
    font-style: normal;
    color: #FFFFFFFF;
    margin: auto;
    text-align: center;
    top: -34px;
}
.ST1, .ST2, .ST3, .ST4, .ST5, .ST6, .ST7 {
    font-size: 46px;
    color: #34AEEB;
    margin: auto;
    text-align: center;
}

.hello {
    color: white;
    position: absolute;
    right: 644px;
    top: 173px;
    margin: auto;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
}
.name{
    color: white;
    position: absolute;
    right: 370px;
    top: 203px;
    margin: auto;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
}
.sName{
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
    color: #34AEEB;
    margin: auto;
}
.aboutP{
    font-size: 16px;
    position: absolute;
    color: #ACACAC;
    margin: auto;
    top: 252px;
    right: 348px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.list1{
    position: absolute;
    right: 661px;
    bottom: 160px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
}
.list2{
    position: absolute;
    right: 340px;
    bottom: 160px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
}
.download{
    background: #34AEEB;
    width: 200px;
    height: 43px;
    border-radius: 34px;
    font-weight: 700;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: -287px;
    top: 0;
    bottom: -591px;
    margin: auto;
    border: none;
}
.download:hover{
    transform: translateY(5px);

}
.download:active{
    background-color: red;
}
.dDiv {
    height: 20px;
    width: 23px;
    position: absolute;
    left: 153px;
    top: 10px;
}
.imgFrame{
    position: absolute;
    border: 8px solid blue;
    left: 140px;
    top: 176px;
    width: 356px;
    height: 463px;
}
.myImg{
    position: absolute;
    width: 320px;
    height: 428px;
    left: 19px;
    top: 18px;
}



.webDevelopment{
    position: absolute;
    margin: auto;
    width: 389px;
    height: 202px;
    background: #242424;
    top: 286px;
    left: 294px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    transition: all 3s;
}
.webDevelopment:hover {
    z-index: 10;
    transition: all 1s !important;
    transform: translateY(-30px);
}
.style1{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0px;
    top: 1px;
    border: 1px solid #FD2155;
    background-color: #FD2155;
}
.webT{
    color: #FD2155;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 42px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.img1, .img2, .img3 {
    position: absolute;
    left: 257px;
    top: 7px;
    width: 100px;
    height: 100px;
}
.UIUX{
    position: absolute;
    margin: auto;
    width: 389px;
    height: 202px;
    background: #242424;
    top: 286px;
    right: 294px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    transition: all 3s;
}
.UIUX:hover {
    z-index: 10;
    transition: all 1s !important;
    transform: translateY(-30px);
}
.style2{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0px;
    top: 1px;
    border: 1px solid #7ED4F2;
    background-color: #7ED4F2;
}
.uiT{
    color: #7ED4F2;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 42px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.mobileApp{
    position: absolute;
    margin: auto;
    width: 390px;
    height: 202px;
    background: #242424;
    top: 500px;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    transition: all 3s;
}
.mobileApp:hover {
    z-index: 10;
    transition: all 1s !important;
    transform: translateY(-30px);
}
.style3{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0px;
    top: 1px;
    border: 1px solid #0AF0CD;
    background-color: #0AF0CD;
}
.mobileT{
    color: #0AF0CD;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 15px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 10px;
    display: flex;
    align-items: center;
}



.Lang {
    font-size: 24px;
    color: #34AEEB;
    position: absolute;
    margin: auto;
    left: 103px;
    top: 138px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
.Lang2 {
    font-size: 24px;
    color: white;
    margin: auto;
}
.titleLine1 {
    position: absolute;
    width: 303.01px;
    height: 0px;
    left: 105px;
    top: 173px;
    background-color: #ffffff;
    border: 2px solid #34AEEB;
}
.langDiv1{
    position: absolute;
    left: -50px;
    top: 1px;
}
.lang1img {
    position: absolute;
    width: 74px;
    height: 71px;
    left: 161px;
    top: 231px;

}
.lang2img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 277px;
    top: 236px;
}
.lang3img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 394px;
    top: 236px;
}
.lang4img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 507px;
    top: 236px;
}
.lang5img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 620px;
    top: 236px;
}

.langDiv2{
    position: absolute;
    left: -50px;
    top: -98px;
}
.lang6img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 167px;
    top: 484px;
}
.lang7img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 277px;
    top: 484px;
}
.lang8img {
    position: absolute;
    width: 180px;
    height: 90px;
    left: 387px;
    top: 467px;
}
.tools {
    font-size: 24px;
    color: #34AEEB;
    position: absolute;
    margin: auto;
    left: 103px;
    top: 526px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
.tools2 {
    font-size: 24px;
    color: white;
    margin: auto;
}
.titleLine2 {
    position: absolute;
    width: 70px;
    height: 0px;
    left: 102px;
    top: 555px;
    background-color: #FFFFFF;
    border: 2px solid #34AEEB;
}
.toolDiv {
    position: absolute;
    left: -50px;
    top: 485px;
}
.tool1img {
    position: absolute;
    left: 167px;
    top: 124px;
    width: 60px;
    height: 60px;
}
.tool2img {
    position: absolute;
    left: 277px;
    top: 124px;
    width: 60px;
    height: 60px;
}
.tool3img {
    position: absolute;
    left: 387px;
    top: 124px;
    width: 60px;
    height: 60px;
}
.tool4img {
    position: absolute;
    left: 497px;
    top: 124px;
    width: 60px;
    height: 60px;
}
.tool5img {
    position: absolute;
    left: 607px;
    top: 124px;
    width: 60px;
    height: 60px;
}
.tool6img {
    position: absolute;
    left: 717px;
    top: 124px;
    width: 60px;
    height: 60px;
}
.lineBreak{
    position: absolute;
    width: 532px;
    height: 0;
    left: 585px;
    top: 410px;
    border: 3px solid #242424;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    transform: rotate(-90deg);
}
.d1 {
    position: absolute;
    width: 190px;
    height: 150px;
    right: 382px;
    top: 215px;
    background: #242424;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.d1:hover {
    transform: translateY(-10px);
    transition: all .5s !important;
}
.d2 {
    position: absolute;
    width: 190px;
    height: 150px;
    right: 89px;
    top: 215px;
    background: #242424;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.d2:hover {
    transform: translateY(-10px);
    transition: all .5s !important;
}
.d3 {
    position: absolute;
    width: 190px;
    height: 150px;
    right: 382px;
    top: 435px;
    background: #242424;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.d3:hover {
    transform: translateY(-10px);
    transition: all .5s !important;
}
.n1, .n2, .n3 {
    position: absolute;
    width: 51px;
    height: 50px;
    left: 28px;
    top: -4px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #34AEEB;
}
.plus1, .plus2, .plus3 {
    position: absolute;
    width: 22px;
    height: 16px;
    left: 73px;
    top: -14px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #34AEEB;
}
.completePro, .yearEx, .happyCus {
    position: absolute;
    width: 104px;
    height: 28px;
    left: 70px;
    top: 83px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.line1, .line2, .line3 {
    position: absolute;
    width: 35px;
    height: 0px;
    left: 25px;
    top: 97px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}



/*Education*/
.adjustEdu {
    position: absolute;
    left: 0;
    right: 0;
    top: -19px;
}
.eduTree {
    position: absolute;
    width: 511px;
    height: 0;
    left: 200px;
    top: 422px;
    background-color: #34AEEB;
    border: 2px solid #34AEEB;
    transform: rotate(-90deg);
}
.EE1 {
    box-sizing: border-box;
    position: absolute;
    width: 330px;
    height: 95px;
    left: 510px;
    top: 153px;
    border: 2px solid #34AEEB;
    cursor: pointer;
}
.EE2 {
    box-sizing: border-box;
    position: absolute;
    width: 330px;
    height: 95px;
    left: 50px;
    top: 265px;
    border: 2px solid #34AEEB;
    cursor: pointer;
}
.EE3 {
    box-sizing: border-box;
    position: absolute;
    width: 330px;
    height: 95px;
    left: 510px;
    top: 378px;
    border: 2px solid #34AEEB;
    cursor: pointer;
}
.EE4 {
    box-sizing: border-box;
    position: absolute;
    width: 330px;
    height: 95px;
    left: 50px;
    top: 490px;
    border: 2px solid #34AEEB;
    cursor: pointer;
}
.EE5 {
    box-sizing: border-box;
    position: absolute;
    width: 330px;
    height: 95px;
    left: 510px;
    top: 603px;
    border: 2px solid #34AEEB;
    cursor: pointer;
}
.EE1, .EE2, .EE3, .EE4, .EE5{
    transition-duration: 5s;
}
.EE1:hover, .EE2:hover, .EE3:hover, .EE4:hover, .EE5:hover {
    background-color: #292925;
    border: 2px solid #0AF0CD;
    border-radius: 50%;
    transition-duration: 1s;
}
.cir1 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 475px;
    top: 197px;
    background: #34AEEB;
    border-radius: 100%;
}
.cir2 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 430px;
    top: 305px;
    background: #34AEEB;
    border-radius: 100%;
}
.cir3 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 475px;
    top: 423px;
    background: #34AEEB;
    border-radius: 100%;
}
.cir4 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 430px;
    top: 535px;
    background: #34AEEB;
    border-radius: 100%;
}
.cir5 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 475px;
    top: 650px;
    background: #34AEEB;
    border-radius: 100%;
}
.E1, .E2, .E3, .E4, .E5 {
    color: #ffffff;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 13px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.E1:hover, .E2:hover, .E3:hover, .E4:hover, .E5:hover{
    color: #34AEEB;
}
.EY1 {
    font-size: 20px;
    color: #E4EE89;
    position: absolute;
    margin: auto;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}
.EY2 {
    font-size: 20px;
    color: #23C54B;
    position: absolute;
    margin: auto;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}
.EY3 {
    font-size: 20px;
    color: #FD2155;
    position: absolute;
    margin: auto;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}
.EY4 {
    font-size: 20px;
    color: #0AF0CD;
    position: absolute;
    margin: auto;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}
.EY5 {
    font-size: 20px;
    color: #7ED4F2;
    position: absolute;
    margin: auto;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}
.lineBreak2 {
    position: absolute;
    width: 532px;
    height: 0;
    left: 600px;
    top: 405px;
    border: 3px solid #242424;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    transform: rotate(-90deg);
}
.slider{
    position: absolute;
    width: 450px;
    height: 250px;
    box-shadow: 1px 1px 6px 3px black;
    right: 100px;
    top: 200px;
    margin: auto;
    overflow: hidden;
}
.slider > section{
    height: 100%;
    width: 400%;
    display: flex;
    animation-name: slider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.slider > section > div{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.slider > section > div > img{
    height: 100%;
    width: 100%;
}

@keyframes slider {
    0%, 15% {
        transform: translateX(0);

    }
    25%, 40% {
        transform: translateX(-25%);

    }
    50%, 70% {
        transform: translateX(-50%);

    }
    80%, 100% {
        transform: translateX(-75%);

    }
}




/*Projects*/
.cases {
    position: relative;
    width: 430px;
    height: 275px;
    background: #242424;
    box-shadow: -23px -23px 45px #151515, 28px 28px 50px rgb(17, 17, 17);
    border-radius: 25px;
    display: flex;
    justify-content: center;

}
.cases > h4 {
    position: absolute;
    top: 194px;
    left: 0;
    right: 0;
    font-family: 'ubuntu';
    font-size: 26px;
    text-align: center;
    color: #ffffff;
}
.cases:hover {
    transition: all 1s ease;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
    box-shadow: 1px 1px 54px 1px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}
.cases > img {
    width: 340px;
    height: 190px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 30px;
    align-items: center;
}
.projects > section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    transition: all 2s;
}
.projects > section > section {
    width: 1095px;
    display: flex;
    flex-wrap: wrap;
    gap: 66px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all 2s;
}


/*contact me*/
.contactD1 {
    position: absolute;
    text-align: center;
    left: 95px;
    top: 177px;
    width: 348px;
}
.contactD2 {
    position: relative;
    margin-left: -42px;
    margin-top: -135px;
}
.contactP1 {
    font-size: 22px;
    color: #34AEEB;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
.contactP2 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin: auto;
    top: 32px;
    left: 0;
    right: 0;
}
.email1 {
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 340px;
    left: 229px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.address1 {
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 440px;
    left: 229px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.contact1 {
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 540px;
    left: 229px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.imgC1 {
    position: absolute;
    top: 346px;
    left: 170px;
    width: 24px;
    height: 24px;
}
.imgC2 {
    position: absolute;
    top: 446px;
    left: 170px;
    width: 24px;
    height: 24px;
}
.imgC3 {
    position: absolute;
    top: 546px;
    left: 170px;
    width: 24px;
    height: 24px;
}
.send {
    position: absolute;
    background: #34AEEB;
    width: 211px;
    height: 43px;
    border-radius: 34px;
    font-weight: 700;
    padding-left: 25px;
    text-align: left;
    font-size: 20px;
    color: white;
    cursor: pointer;
    left: 576px;
    bottom: 32px;
    margin: auto;
    border: none;

}

.send:hover{
    transform: translateY(5px);
}
.send:active{
    background-color: red;
}
.input1, .input2, .input3, .input4 {
    position: absolute;
    background: rgba(217, 217, 217, 0.21);
    border-radius: 34px;
    border: 2px solid rgba(217, 217, 217, 0.21);

    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
}
.input1 {
    width: 354px;
    height: 34px;
    padding: 10px 25px 10px 25px;
    left: 527px;
    top: 230px;
}
.input2 {
    width: 354px;
    height: 34px;
    left: 958px;
    top: 230px;
    padding: 10px 25px 10px 25px;
}
.input3 {
    width: 594px;
    height: 34px;
    left: 527px;
    top: 313px;
    padding: 10px 25px 10px 25px;
}
.input4 {
    width: 594px;
    height: 223px;
    left: 527px;
    top: 398px;
    padding: 25px 25px 10px 25px;
}
.adjustForm {
    left: 42px;
    top: -49px;
    position: absolute;
}



/*footer*/
footer {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    border-top: 1px solid rgba(102, 102, 102, 0.29);
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}
.footerText{
    position: absolute;
    bottom: -25px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    text-align: center;
}






/* 1025 - 1440 */
@media all and (min-width: 1025px) and (max-width: 1440px) {

    /*Customized headding*/
    header {
        height: 70px;
    }

    /*set list inline*/
    header > nav > ul {
        margin-top: 10px;
    }

    /*set list inline*/
    header > nav > ul > li {
        padding: 16px;
        padding-left: 6px;
    }

    /*name logo*/
    .logo {
        margin-top: 6px;
    }

    /*//////////////////////////////////////////////////////////*/
    /*titles: About me, Service, Skills, Education, Projects, Contact me*/
    .T1, .T2, .T3, .T4, .T5, .T6, .T7 {
        line-height: 68px;
        top: 17px;

    }

    /*titles: About me, Service, Skills, Education, Projects, Contact me*/
    .TT1, .TT2, .TT3, .TT4, .TT5, .TT6, .TT7 {
        top: -44px;
    }

    /*////////////////////////////////////////////////////////////////////////////////////////*/
    /*first page*/
    .mainpage {
        width: 100%;
        height: 100vh;
    }

    /*hii, I am....*/
    .intro1 {
        margin-top: -34px;
    }

    /*Follow me on*/
    .followMe {
        font-size: 14px;
        margin-right: 14px;
        margin-top: -30px;
    }

    /*line*/
    .follDiv {
        margin-right: 7px;
        margin-bottom: -72px;
        width: 68px;
    }

    /*Button Hire me*/
    .hireme {
        width: 146px;
        margin: auto;
        margin-top: -30px;

    }

    .hireme:hover {
        height: 43px;
        transform: translateY(3px);
    }

    /*image*/
    .imgp1 {
        margin-bottom: -28px;
        margin-right: 1px;
    }

    /*social media image*/
    .imgMedia1, .imgMedia2, .imgMedia3, .imgMedia4, .imgMedia5, .imgMedia6, .imgMedia7 {
        width: 20px;
        height: 20px;
    }

    /*//////////////////////////////////////////////////////////*/
    /*
    ABOUT ME
    */
    /*Hello*/
    .hello {
        top: 108px;
    }

    /*I AM.....*/
    .name {
        right: 395px;
        top: 145px;
    }

    /*About me Paragraph*/
    .AboutP {
        top: 185px;
    }

    /*About me Signature*/
    .Signature {
        top: 245px;
    }

    /*Button downlod CV*/
    .dwnlod {
        height: 40px;
        right: -178px;
        bottom: -511px;
    }

    /*about list*/
    .list1 {
        bottom: 55px;
    }

    /*details list*/
    .list2 {
        bottom: 55px;
    }

    /*my image*/
    .imgmy {
        width: 296px;
        height: 414px;
        left: 9px;
        top: 9px;

    }

    /*image frame*/
    .myIMGFrame {
        left: 164px;
        top: 110px;
        width: 313px;
        height: 430px;
    }

    /*=======================================================================================================*/
    /*SERVICE SECTION*/
    /*=======================================================================================================*/
    /*web design box*/
    .webDesign {
        left: 83px;
        top: 82px;
    }

    /*Customization box*/
    .customiz {
        right: 83px;
        top: 82px;
    }

    /*WebDevelopment box*/
    .webDevelopment {
        top: 216px;
        left: 247px;
    }

    /*UI/UX Deesign box*/
    .UIUX {
        top: 216px;
        right: 247px;
    }

    /*Mobile App Development box*/
    .mobileApp {
        top: 370px;
    }


    /*=======================================================================================================*/
    /*SKILLS SECTION*/
    /*=======================================================================================================*/
    /*TiTle for Languages*/
    .Lang {
        top: 116px;
    }

    /*TiTle for tools*/
    .tools {
        top: 398px;
    }

    /*div for adjust image line 1*/
    .langdiv1 {
        top: -49px;
    }

    /*div for adjust image line 2*/
    .langdiv2 {
        top: -197px;
    }

    /*div for adjust image line 3*/
    .tooldiv {
        top: 334px;
    }

    /*line break*/
    .linebreak {
        width: 412.01px;
        left: 573px;
        top: 334px;
    }

    /*side div 1*/
    .d1 {
        top: 153px;
    }

    /*side div 2*/
    .d2 {
        top: 153px;
    }

    /*side div 3*/
    .d3 {
        top: 375px;
    }

    /*title line(Language and framework)*/
    .titleLine1 {
        top: 150px;
    }

    /*title line(tools)*/
    .titleLine2 {
        top: 429px;
    }

    /*=======================================================================================================*/
    /*EDUCATION SECTION*/
    /*=======================================================================================================*/
    .edutree {
        width: 427px;
        left: 505px;
        top: 346px;
    }

    /*section1 (Digree)*/
    .EE1 {
        right: 234px;
        top: 124px;
    }

    /*section2 (IT dip)*/
    .EE2 {
        left: 234px;
        top: 216.5px;
    }

    /*section3 (Eng dip)*/
    .EE3 {
        right: 234px;
        top: 307px;
    }

    /*section4 (A/L)*/
    .EE4 {
        left: 234px;
        top: 398.5px;
    }

    /*section5 (O/L)*/
    .EE5 {
        right: 234px;
        top: 488px;
    }

    /*circle1*/
    .cir1 {
        right: 683px;
        top: 165px;
    }

    /*circle2*/
    .cir2 {
        left: 683px;
        top: 256.5px;
    }

    /*circle3*/
    .cir3 {
        right: 683px;
        top: 345px;
    }

    /*circle4*/
    .cir4 {
        left: 683px;
        top: 440.5px;
    }

    /*circle5*/
    .cir5 {
        right: 683px;
        top: 528px;
    }

    /*=======================================================================================================*/
    /*PROJECTS SECTION*/
    /*=======================================================================================================*/
    /*Image Jewellery shop management*/
    .imgPro1 {
        left: 97px;
        top: 96px;
        width: 376px;
        height: 239px;
    }

    /*Image Hotel management*/
    .imgPro2 {
        left: 528px;
        top: 96px;
        width: 376px;
        height: 239px;
    }

    /*Image Hostel management*/
    .imgPro3 {
        right: 97px;
        top: 96px;
        width: 376px;
        height: 239px;
    }

    /*Image SuperMarket management*/
    .imgPro4 {
        left: 315px;
        top: 337px;
        width: 376px;
        height: 239px;
    }

    /*Image CarParking management*/
    .imgPro5 {
        right: 315px;
        top: 337px;
        width: 376px;
        height: 239px;
    }

    .pt1 {
        top: 275px;
        left: 110px;
    }

    .pt2 {
        top: 275px;
        right: 154px;
    }

    .pt3 {
        top: 275px;
        left: 590px;
    }

    .pt4 {
        top: 518px;
        left: 337px;
    }

    .pt5 {
        top: 518px;
        right: 387px;
    }

    /*=======================================================================================================*/
    /*Assignment SECTION*/
    /*=======================================================================================================*/
    .asign1 {
        width: 313px;
        height: 210px;
        left: 112px;
        top: 101px;
    }

    .asign2 {
        width: 313px;
        height: 210px;
        left: 563px;
        top: 101px;
    }

    .asign3 {
        width: 313px;
        height: 210px;
        right: 112px;
        top: 101px;
    }

    .asign4 {
        width: 313px;
        height: 210px;
        left: 563px;
        top: 346px;
    }

    .asignBasic {
        left: 214px;
        top: 262px;
    }

    .asignAnim {
        left: 643px;
        top: 262px;
    }

    .asignTransi {
        left: 1088px;
        top: 262px;
    }

    .asignFram {
        left: 638px;
        top: 505px;
    }

    /*=======================================================================================================*/
    /*GITHUB LINK*/
    /*Github link box paragraph*/
    .githubP {
        top: 7px;
    }

    /*Button Github*/
    .github {
        height: 37px;
        bottom: -60px;
    }

    /*=======================================================================================================*/
    /*CONTACT ME SECTION*/
    /*=======================================================================================================*/
    /*adjust paragraph*/
    .contactD1 {
        left: 74px;
        top: 114px;
    }

    .contactD2 {
        position: relative;
        margin-left: -42px;
        margin-top: -214px;
    }

    .sec1 {
        left: 74px;
        top: 114px;
    }

    /*Button send Massages*/
    .send {
        margin-bottom: -14px;
        margin-left: -53px;
    }

    /*Massage*/
    .input4 {
        height: 193px;
    }

    /*adjust form*/
    .adjustForm {
        margin-top: -74px;
        margin-left: -53px;
    }

    /*=======================================================================================================*/
    /*FOOTER*/
    /*=======================================================================================================*/
    /*footer text*/
    .footertext {
        line-height: 25px;
    }

    /*adjust footer image*/
    .footerIMG {
        top: 6px;
    }

}

/* 769 - 1024 */
@media all and (min-width: 769px) and (max-width: 1024px) {

    /*Customized headding*/
    header {
        height: 70px;
    }

    /*set list inline*/
    header > nav > ul {
        margin-top: 10px;
    }

    /*set list inline*/
    header > nav > ul > li {
        padding: 16px;
        padding-left: 6px;
    }

    /*name logo*/
    .logo {
        margin-top: 6px;
    }

    /*//////////////////////////////////////////////////////////*/
    /*titles: About me, Service, Skills, Education, Projects, Contact me*/
    .T1, .T2, .T3, .T4, .T5, .T6 {
        line-height: 61px;
        top: 13px;

    }

    /*titles: About me, Service, Skills, Education, Projects, Contact me*/
    .TT1, .TT2, .TT3, .TT4, .TT5, .TT6 {
        top: -44px;
    }

    /*////////////////////////////////////////////////////////////////////////////////////////*/
    /*hii, I am....*/
    .intro1 {
        margin-top: -34px;
    }

    .intro2 {
        font-size: 58px;
    }

    /*Follow me on*/
    .followMe {
        font-size: 14px;
        margin-right: 14px;
        margin-top: -30px;
    }

    /*line*/
    .follDiv {
        margin-right: 7px;
        margin-bottom: -72px;
        width: 68px;
    }

    /*Button Hire me*/
    .hireme {
        width: 146px;
        margin: auto;
        margin-top: -34px;

    }

    .hireme:hover {
        height: 43px;
        transform: translateY(3px);
    }

    /*image*/
    .imgp1 {
        margin-bottom: -28px;
        margin-right: 1px;
    }

    /*social media image*/
    .imgMedia1, .imgMedia2, .imgMedia3, .imgMedia4, .imgMedia5, .imgMedia6, .imgMedia7 {
        width: 20px;
        height: 20px;
    }

    /*//////////////////////////////////////////////////////////*/
    /*
    ABOUT ME
    */
    /*Hello*/
    .hello {
        margin-right: -222px;
        margin-top: -52px;
    }

    /*I AM.....*/
    .name {
        margin-right: -217px;
        margin-top: -54px;
    }

    /*About me Paragraph*/
    .AboutP {
        margin-right: -222px;
        margin-top: -69px;
    }

    /*About me Signature*/
    .Signature {
        margin-top: -81px;
        margin-right: -93px;
    }

    /*Button downlod CV*/
    .dwnlod {
        margin-right: 589px;
        margin-top: 526px;
    }

    /*about list*/
    .list1 {
        margin-right: -220px;
        top: 301px;
    }

    /*details list*/
    .list2 {
        margin-right: -220px;
        top: 301px;
    }

    /*image frame*/
    .myIMGFrame {
        margin-left: -112px;
        margin-top: -58px;
        width: 314px;
        height: 431px;
    }

    .imgmy {
        width: 286px;
        height: 407px;
        left: 14px;
        top: 12px;
    }

    /*=======================================================================================================*/
    /*SERVICE SECTION*/
    /*=======================================================================================================*/
    /*web design box*/
    .webDesign {
        margin-left: -126px;
        top: 90px;
        height: 283px;
    }

    /*Customization box*/
    .customiz {
        margin-right: -126px;
        top: 90px;
        height: 283px;
    }

    /*WebDevelopment box*/
    .webDevelopment {
        top: 226px;
        margin-left: -192px;
        height: 283px;
    }

    /*UI/UX Deesign box*/
    .UIUX {
        top: 226px;
        margin-right: -192px;
        height: 283px;
    }

    /*Mobile app development box*/
    .mobileApp {
        top: 366px;
    }
}
