.mainPage {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("../img/white-notebook-black-data-firewall.jpg");
    background-position: center center;
    background-color: #242424;
    position: relative;
}

.imgp1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 6px;
    right: 18px;
    bottom: 130px;
}

.followMe {
    font-size: 17px;
    color: #34AEEB;
    margin: auto;
    position: absolute;
    right: -46px;
    transform: rotate(90deg);
    top: 212px;
}

.followDiv {
    border: 1px solid #34AEEB;
    background-color: #34AEEB;
    width: 80px;
    transform: rotate(90deg);
    position: absolute;
    right: -14px;
    bottom: 363px;
}

.intro1 {
    margin-top: -34px;
}

.intro2 {
    font-size: 58px;
}

header {
    height: 70px;
}

    /*Customized navigatins*/
    header > nav {
        right: 20px;
    }

    /*set list inline*/
    header > nav > ul {
        margin-top: 10px;
    }

    /*set list inline*/
    header > nav > ul > li {
        padding: 16px;
        padding-left: 6px;
        font-size: 12px;
    }
